@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 0, 0, 0.842);
  color: #fff;
}
.poster-container img {
  margin: 2.5vw;
  padding: 5px;
  width: 15vw;
}
