@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  font-family: "PT Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.842);
  color: #fff;
}
p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.poster-container img {
  margin: 2vw;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.658);
  padding: 5px;
  width: 15vw;
}
.poster-container img:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
  cursor: pointer;
}
.overlay {
  bottom: 0;
  cursor: pointer;
}
.logo {
  margin-left: 20px;
  margin-bottom: 40px;
  margin-right: -10px;
  transform: rotate(-30deg);
}
.square {
  margin: 5px;
}
#main-heading {
  cursor: pointer;
}

#imdb {
  margin-left: 6px;
  padding: 2px;
  border: 2px solid rgba(255, 255, 255, 0.452);
  box-shadow: 2px 2px 2px rgba(214, 163, 163, 0.233);
}
